<plugin name='email-journal-web-client-plugin' version='0.1' grailsVersion='1.1.1 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/EmailJournalWebClientPlugin+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>DataSource</resource>
    <resource>ArkivdelClientController</resource>
  </resources>
  <dependencies />
</plugin>